.container-contatos {
    background-color: grey;
    display: flex;
    gap: 10rem;
}

.contatos-vetor {
    width: 40px;
}

.whats {
    width: 30px;
}

.contatos {
    padding-left: 16.5rem;
}

.contatos-ancora {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-top: 2rem;
}

.contatos-titulo {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 3rem;
}

.ancora-whats {
    padding-left: 0.3rem;
    gap: 0.3rem;
}

.insta {
    width: 30px;
}

.contatos-mockup {
    width: 200px;
}

.contatos-ancoras {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}


